<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Navigation Series</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <!-- BODY TABLE -->
    <table id="bodyTable" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td>

                <!-- CONTAINER TABLE -->
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content">

                            <!-- CONTENT TABLE -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td class="logo" valign="bottom">
                                                    <a href="http://www.livestrong.org">
                                                        <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-top.png" alt="LIVESTRONG" border="0" height="32" width="229">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="white" width="100%">
                                            <tr>
                                                <td class="logo foundation" valign="top">
                                                    <a href="http://www.livestrong.org">
                                                        <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-bottom.png" alt="Foundation" border="0" height="32" width="229">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <!-- NOTE TO VIEWER -->
                                <tr>
                                    <td class="note-container">
                                        <div>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td class="header" width="60%">
                                                                    <img src="http://images.livestrong.org/2014/nav_series/stronger_than_you_know.gif" alt="You are stronger than you know." height="122" width="277">
                                                                    <h5>We know this is a scary time, but you are a strong individual. We believe in you. It’s common and normal to feel a wide range of emotions during cancer treatment. We are here to help you acknowledge the rage and accept the tears.</h5>
                                                                </td>
                                                                <td class="navigator">
                                                                    <div class="phone-hidden">
                                                                        <img src="http://images.livestrong.org/2014/nav_series/nav_series_email_abby.png" alt="Abby LIVESTRONG Cancer Navigator" border="0" class="responsive-img" width="">
                                                                        <h3>Abby</h3>
                                                                        <span class="desc">LIVE<strong>STRONG</strong> Cancer Navigator</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="last">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="question-list last" width="100%">
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>A cancer diagnosis can cause feelings of confusion, anxiety and depression. <a class="a" href="http://www.livestrong.org/we-can-help/just-diagnosed/facing-your-fears?utm_source=message-3&utm_medium=email&utm_content=link-1&utm_campaign=newly-diagnosed-nav-series">We can help you face your fears.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.livestrong.org/we-can-help/just-diagnosed/facing-your-fears/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Following a cancer diagnosis, what is most important to you might change. <a class="a" href="http://assets.livestrong.org/pdfs/Setting_Personal_Priorities.pdf?utm_source=message-3&utm_medium=email&utm_content=link-2&utm_campaign=newly-diagnosed-nav-series">Consider the following when you want to prioritize your life.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://assets.livestrong.org/pdfs/Setting_Personal_Priorities.pdf">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Telling your friends and family about your cancer diagnosis can be difficult. <a class="a" href="http://www.livestrong.org/we-can-help/just-diagnosed/telling-others-about-your-cancer?utm_source=message-3&utm_medium=email&utm_content=link-3&utm_campaign=newly-diagnosed-nav-series">Use this guide to assist you in sharing the news.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.livestrong.org/we-can-help/just-diagnosed/telling-others-about-your-cancer/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>You are not alone on your cancer journey. <a class="a" href="http://www.livestrong.org/we-can-help/preparing-yourself/meeting-others-like-you?utm_source=message-3&utm_medium=email&utm_content=link-4&utm_campaign=newly-diagnosed-nav-series">Meet someone going through the same cancer experience as you.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.livestrong.org/we-can-help/preparing-yourself/meeting-others-like-you/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="video-image">
                                        <a href="https://www.youtube.com/watch?v=4h2vZB0388E">
                                            <img src="http://images.livestrong.org/2014/nav_series/nav_series_email_iram_video.jpg" alt="Watch how Iram got the emotional support he needed." border="0" class="responsive-img" width="">
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="note-container">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="question-list last" width="100%">
                                                        <tr>
                                                            <td class="question">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                        <td width="100%"><h5>Do you need help keeping your friends and family up to date with news and information? <a class="a" href="http://www.livestrong.org/rally?utm_source=message-3&utm_medium=email&utm_content=link-5&utm_campaign=newly-diagnosed-nav-series">Start a LIVE<strong>STRONG</strong> Rally today.</a></h5></td>
                                                                        <td class="arrow">
                                                                            <a href="http://www.livestrong.org/rally/">
                                                                                <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cta last">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td class="centered-text">
                                                                <h4>Didn’t find what you were looking for?</h4>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                        <td class="button">
                                                                            <a href="http://www.livestrong.org/we-can-help/navigation-services/">Ask a LIVE<strong>STRONG</strong> Navigator</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="centered-text last">
                                                                <h3 class="call">Or Call 1-855-220-7777</h3>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>                                        
                                    </td>
                                </tr>
                                <!-- /NOTE TO VIEWER -->

                            </table>
                            <!-- /CONTENT TABLE -->

                        </td>
                    </tr>
                </table>
                <!-- /CONTAINER TABLE -->

            </td>
        </tr>
    </table>
    <!-- /BODY TABLE -->

</body>
</html>