<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Navigation Series</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <!-- BODY TABLE -->
    <table id="bodyTable" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td>

                <!-- CONTAINER TABLE -->
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content">

                            <!-- CONTENT TABLE -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td class="logo" valign="bottom">
                                                    <a href="http://www.livestrong.org">
                                                        <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-top.png" alt="LIVESTRONG" border="0" height="32" width="229">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="white" width="100%">
                                            <tr>
                                                <td class="logo foundation" valign="top">
                                                    <a href="http://www.livestrong.org">
                                                        <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-bottom.png" alt="Foundation" border="0" height="32" width="229">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <!-- NOTE TO VIEWER -->
                                <tr>
                                    <td class="note-container">
                                        <div>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td class="header" width="60%">
                                                                    <img src="http://images.livestrong.org/2014/nav_series/fight_together.gif" alt="We are in this fight together." height="122" width="234">
                                                                    <h5>Welcome. We are so happy to have you as part of the LIVE<strong>STRONG</strong> family. Hearing the words “you have cancer” can be devastating. It’s common to feel anger, sadness and disbelief. Here at LIVE<strong>STRONG</strong>, we believe that unity is strength, and we want you to know that we are here to support you every step of the way. You are not alone on your cancer journey.</h5>
                                                                </td>
                                                                <td class="navigator">
                                                                    <div class="phone-hidden">
                                                                        <img src="http://images.livestrong.org/2014/nav_series/nav_series_email_abby.png" alt="Abby LIVESTRONG Cancer Navigator" border="0" class="responsive-img" width="">
                                                                        <h3>Abby</h3>
                                                                        <span class="desc">LIVE<strong>STRONG</strong> Cancer Navigator</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="last">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="question-list last" width="100%">
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Choose doctors that have had success treating your type of cancer. <a class="a" href="http://www.livestrong.org/we-can-help/planning-medical-care/choosing-your-health-care-team?utm_source=message-1&utm_medium=email&utm_content=link-1&utm_campaign=newly-diagnosed-nav-series">Read how to find the health care team that is right for you.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.livestrong.org/we-can-help/planning-medical-care/choosing-your-health-care-team/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                        <td width="100%"><h5>Don’t be afraid to ask questions of your doctors. <a class="a" href="http://assets.livestrong.org/pdfs/First_Questions_for_Your_Healthcare_Provider.pdf?utm_source=message-1&utm_medium=email&utm_content=link-2&utm_campaign=newly-diagnosed-nav-series">Here are first questions to consider.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://assets.livestrong.org/pdfs/First_Questions_for_Your_Healthcare_Provider.pdf">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Before you start Googling your type of cancer, <a class="a" href="http://www.livestrong.org/we-can-help/just-diagnosed/finding-and-evaluating-cancer-information?utm_source=message-1&utm_medium=email&utm_content=link-3&utm_campaign=newly-diagnosed-nav-series">check out our website for reliable cancer type information.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.livestrong.org/we-can-help/just-diagnosed/finding-and-evaluating-cancer-information/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Clinical trials are scientific studies that test other ways of using current cancer treatment or treatments in development. <a class="a" href="http://www.livestrong.org/we-can-help/planning-medical-care/considering-clinical-trials?utm_source=message-1&utm_medium=email&utm_content=link-4&utm_campaign=newly-diagnosed-nav-series">See if clinical trials are right for you.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.livestrong.org/we-can-help/planning-medical-care/considering-clinical-trials/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="video-image">
                                        <a href="https://www.youtube.com/watch?v=1hPLWtMU1Mg">
                                            <img src="http://images.livestrong.org/2014/nav_series/nav_series_email_sarah_video.jpg" alt="Watch how Sarah was able to preserve her fertility and start a family after treatment." border="0" class="responsive-img" width="">
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="note-container">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="question-list last" width="100%">
                                                        <tr>
                                                            <td class="question">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                    <td width="100%"><h5>Are you worried whether or not you’ll be able to have children? <a class="a" href="http://www.livestrong.org/we-can-help/fertility-services/risks?utm_source=message-1&utm_medium=email&utm_content=link-5&utm_campaign=newly-diagnosed-nav-series">Use our fertility risk tool to see what your fertility risks are.</a></h5></td>
                                                                        <td class="arrow">
                                                                            <a href="http://www.livestrong.org/we-can-help/fertility-services/risks/">
                                                                                <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cta last">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td class="centered-text">
                                                                <h4>Didn’t find what you were looking for?</h4>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                        <td class="button">
                                                                            <a href="http://www.livestrong.org/we-can-help/navigation-services/">Ask a LIVE<strong>STRONG</strong> Navigator</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="centered-text last">
                                                                <h3 class="call">Or Call 1-855-220-7777</h3>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /NOTE TO VIEWER -->

                            </table>
                            <!-- /CONTENT TABLE -->

                        </td>
                    </tr>
                </table>
                <!-- /CONTAINER TABLE -->

            </td>
        </tr>
    </table>
    <!-- /BODY TABLE -->

</body>
</html>