<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Navigation Series</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <!-- BODY TABLE -->
    <table id="bodyTable" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td>

                <!-- CONTAINER TABLE -->
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content">

                            <!-- CONTENT TABLE -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td class="logo" valign="bottom">
                                                    <a href="http://www.livestrong.org">
                                                        <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-top.png" alt="LIVESTRONG" border="0" height="32" width="229">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="white" width="100%">
                                            <tr>
                                                <td class="logo foundation" valign="top">
                                                    <a href="http://www.livestrong.org">
                                                        <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-bottom.png" alt="Foundation" border="0" height="32" width="229">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <!-- NOTE TO VIEWER -->
                                <tr>
                                    <td class="note-container">
                                        <div>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td class="header" width="60%">
                                                                    <img src="http://images.livestrong.org/2014/nav_series/you_are_a_survivor.gif" alt="You are a survivor." height="122" width="309">
                                                                    <h5>We believe that cancer does not have to take over your life. Eating healthy foods, exercising and treating your mind and body with some TLC can offer a wide range of benefits. After cancer, you may have to adjust to a new normal, but that new life can feel good and empowering.</h5>
                                                                </td>
                                                                <td class="navigator">
                                                                    <div class="phone-hidden">
                                                                        <img src="http://images.livestrong.org/2014/nav_series/nav_series_email_abby.png" alt="Abby LIVESTRONG Cancer Navigator" border="0" class="responsive-img" width="">
                                                                        <h3>Abby</h3>
                                                                        <span class="desc">LIVE<strong>STRONG</strong> Cancer Navigator</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="last">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="question-list last" width="100%">
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Eating well and exercising can be challenging, but they are essential to staying well. <a class="a" href="http://www.livestrong.org/we-can-help/healthy-living-after-treatment/planning-for-healthy-living?utm_source=message-4&utm_medium=email&utm_content=link-1&utm_campaign=newly-diagnosed-nav-series">Read our tips for living a healthy life.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.livestrong.org/we-can-help/healthy-living-after-treatment/planning-for-healthy-living/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Certain types of foods can help reduce the risk of cancer and promote survival. <a class="a" href="http://images.livestrong.org/pdfs/livestrong-fertility/Meals-to-Heal-Heal-Well-Nutrition-Guide.pdf?_ga=1.16688958.940611740.1416436580&utm_source=message-4&utm_medium=email&utm_content=link-2&utm_campaign=newly-diagnosed-nav-series">Learn which foods are most powerful.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://images.livestrong.org/pdfs/livestrong-fertility/Meals-to-Heal-Heal-Well-Nutrition-Guide.pdf?_ga=1.16688958.940611740.1416436580">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>Do you need recipe recommendations to start a healthier diet? <a class="a" href="http://blog.livestrong.org/2013/04/24/cooking-for-cancer-class-recap?utm_source=message-4&utm_medium=email&utm_content=link-3&utm_campaign=newly-diagnosed-nav-series">Check out these tasty recipes.</a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://blog.livestrong.org/2013/04/24/cooking-for-cancer-class-recap/">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="question">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="100%"><h5>You may decide that traditional medicine is not your preferred method of treatment. <a class="a" href="http://www.cancer.gov/publications/patient-education/thinking-about-cam">See if alternative medicine is right for you. </a></h5></td>
                                                                            <td class="arrow">
                                                                                <a href="http://www.cancer.gov/publications/patient-education/thinking-about-cam">
                                                                                    <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="video-image">
                                        <a href="https://www.youtube.com/watch?v=EicUq702ebI">
                                            <img src="http://images.livestrong.org/2014/nav_series/nav_series_email_pilar_video.jpg" alt="See how healthy food and exercise helped Pilar." border="0" class="responsive-img" width="">
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="note-container">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="question-list last" width="100%">
                                                        <tr>
                                                            <td class="question">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                        <td width="100%"><h5>Even ten minutes of meditation a day can help relax the mind and body. <a class="a" href="https://www.headspace.com">See how mindfulness can help.</a></h5></td>
                                                                        <td class="arrow">
                                                                            <a href="https://www.headspace.com">
                                                                                <img src="http://images.livestrong.org/2014/nav_series/arrow.png" alt="Arrow" border="0" height="28" width="16">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cta last">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td class="centered-text">
                                                                <h4>Didn’t find what you were looking for?</h4>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                        <td class="button">
                                                                            <a href="http://www.livestrong.org/we-can-help/navigation-services/">Ask a LIVE<strong>STRONG</strong> Navigator</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="centered-text last">
                                                                <h3 class="call">Or Call 1-855-220-7777</h3>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>                                        
                                    </td>
                                </tr>
                                <!-- /NOTE TO VIEWER -->

                            </table>
                            <!-- /CONTENT TABLE -->

                        </td>
                    </tr>
                </table>
                <!-- /CONTAINER TABLE -->

            </td>
        </tr>
    </table>
    <!-- /BODY TABLE -->

</body>
</html>